
* {
    box-sizing: border-box;
}

.div-card-img-top {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: -15px;
    right: 16px;
}

.bottom-left {
    position: absolute;
    top: 155px;
    left: 25px;
    overflow: hidden;
}

.shop-item {
    transition: .2s;
    margin-top: 10px;
}

.shop-item:hover {
    transform: translate(0, -10px);
}

.menu-sidenav {
    position: fixed;
    width: 325px;
    top: 80px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border-right: 1px solid #eee;
}

.shop-content {
    padding-top: 60px;
    overflow: hidden;
}

.shop-menu-top-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 200px;
}

.cover-color {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.4;
}

.top-right {
    position: absolute;
    top: 80px;
    right: 50px;
}


.tab-content {
    color: black;
}

.nav-shop-tab .nav-link.active {
    color:black;
    font-weight: 700;
    border-bottom: 4px solid #7CFC00;
}

.nav-shop-tab .nav-link:hover {
    color: #7CFC00;
}

.nav-shop-tab .nav-link {
    color:black;
    font-size: 1.1rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}

.nav-shop-tab {
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}


.change-cart-btn {
    font-size: 1.5rem;
    color: #7CFC00;
}

.cart-bottom-right {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}

.btn-animation {
    transition: linear 0.2s;
}

.btn-animation:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn-animation:active {
    transform: scale(0.9);
}

.warp-hide-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.menu-images img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.menu-images {
    width: 80px;
    height: 80px;
    float: left;
    overflow: hidden;
    position: relative;
}

.menu-items {
    height: 90px;
}

.hover-pointer {
    cursor: pointer;
}

.cart-holder .cart-info {
    padding: 5px 10px;
    width: 100%;
    float: left;
    line-height: 50px;
    text-align: left;
    direction: ltr;
}

.cart-holder .cart-info aside {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    font-weight: bold;
}

.cart-holder .cart-info aside a {
    font-weight: normal;
    font-size: 0.875rem;
    color: #7CFC00;
}

.cart-holder .cart-info aside a:hover {
    color: #7CFC00;
    cursor: pointer;
}

.cart-holder .cart-info figure {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.cart-holder .cart-info figure img {
    width: 100%;
    border-radius: 0.8rem;
}


.cart-items {
    border-bottom: 1px solid #cccccc;
    display: table;
    direction: ltr;
    width: 100%;
    position: relative;
    padding: 5px 15px 0;
    user-select: none;
}

.cart-items aside {
    line-height: 10px;
    direction: ltr;
    text-align: left;
    float: left;
    width: 60%;
    position: relative;
}


.cart-items aside h3 {
    font-size: 1rem;
    text-align: left;
}

.cart-items-right-side {
    float: right;
    display: inline-flex;
    padding-top: 10px;
}

.cart-items-right-side p {
    font-size: 1.1rem;
    padding: 0 10px;
}

.cart-holder-inner {
    width: 100%;
    float: left;
    direction: ltr;
    position: relative;
}

.cart-list-holder {
    max-height: 325px;
    overflow-y: auto;
    border-bottom: 1px solid #cccccc;
}


.scrollbar-dusty-grass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.scrollbar-dusty-grass {
    scrollbar-color: #d4fc79 #F5F5F5;
}


.cart-canvas {
    margin-top: 64px;
}

.custom-shadow {
    transition: .3s;
}

.custom-shadow:hover {
    box-shadow: 0 10px 10px rgba(33,33,33,.3);
    transform: translate(0, -5px);
}

.menu-item-buttons {
    float: right;
    padding-right: 0.5rem;
}

.no-select { 
    user-select: none;
}

@media (min-width: 1200px) {
    .shop-content {
        padding-left: 325px;
    }
    .bottom-left {
        left: 350px;
    }
}


@media (min-width: 768px) {
    .shop-content {
        padding-top: 80px;
    }
    .shop-menu-top-image {
        height: 300px;
    }
    .bottom-left {
        top: 240px;
    }
    .cover-color {
        height: 300px;
    }
    .top-right {
        top: 100px;
    }
    .menu-images {
        width: 100px;
        height: 100px;
    }
    .menu-items {
        height: 120px;
    }
    .nav-left-side {
        width: 100%;
    }
    .cart-holder-inner {
        overflow-y: hidden;
        height: auto;
    }
    .cart-canvas {
        margin-top: 80px;
    }
}

